.learningScope {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.learningScope > a {
  font-family: consolas;
  font-size: 1.2em;
  display: block;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  background: #eee;
  padding: 5px;
}

.inScope {
  background: green !important;
  color: white;
}

.toolBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.toolBox > h2 {
  font-size: 1.2em;
  margin: 2px 5px;
}

.toolBox > button {
  font-size: 1.2em;
  margin: 0 5px 0 0;
  border: 0px;
  background-color: darkred;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

.toolBox > a {
  font-size: 1.2em;
  margin: 0 5px 0 0;
  padding: 5px;
  border: 0px;
  background-color: darkred;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

.toolBox > button[disabled] {
  background-color: gray;
}

.numberWithUnit {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  margin-right: 5px;
}

.numberWithUnit span:first-of-type {
  font-size: 2em;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 20px;
}

.numberWithUnit span:nth-of-type(2) {
  text-align: right;
  font-size: 0.8em;
  margin: 2px 5px;
  
}

#writeTraining > div {
  display: flex;
  flex-direction: row;
}

#writeTraining p {
  font-size: 3em;
  background: lightgray;
  padding: 0.5em;
  margin-right: 10px;
}

#results span {
  width: 20px;
  height: 30px;
  margin-right: 5px;
}

#results .success {
  background-color: green;
}

#results .fail {
  background-color: red;
}