nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

nav > a {
  display: block;
  text-align: right;
  font-size: 1.4em;
  background-color: gray;
  color: white;
  text-decoration: none;
  margin: 0 5px 0 0;
  padding: 1em 10px 10px 20px;
  width: 6em;
  min-height: 2em;
}

nav > a.active {
  background-color: darkred;
}

nav > a:hover {
  background-color: black;
}

#globalCommands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 2em;
  max-width: 3em;
  background-color: gray;
}

#globalCommands a {
  font-size: 1.0em;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: lightseagreen; 
  margin: 5px;
  padding: 5px;
}